body {
    background-color: lightgoldenrodyellow;
    color: darkblue;
}

#onboarding-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input {
    width: 300px;
}

#marital-status-container, #social-insurance-number-container, #number-of-children-container, #working-hours-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.hidden {
    /* visibility: hidden; */
}