body {
    background-color: lightgoldenrodyellow;
    color: darkblue;
}

#onboarding-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input {
    width: 300px;
}

.single-input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hidden {
    visibility: hidden;
}

.button {
    margin-top: 10px;
    width: 100px;
}